:root {
  /*Snow Color Palette*/
  --dark-grey-blue: #2d3656;
  --dark-blue: #0e3472;
  --sky-blue: #7aa5d5;
  --grey-white: #c4cee0;
  --snow-white: #eef2fb;

  --primary-fs: clamp(1rem, 1rem + 2vw, 2rem);
  --secondary-fs: clamp(.5rem, .5rem + 1.5vw, 1.5rem);
  --thirdary-fs: clamp(.5rem, .5rem + 1vw, 1rem);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

textarea, input[type="text"], input[type="date"] {
  margin-left: 1em;
  width: 100%;
  max-width: 150px;
  padding: .25em;
  font-size: .8rem;
  border: none;
  background-color: gainsboro;
  border-radius: .5em;
  font-family: sans-serif;
}

textarea {
  margin-left: 0;
  resize: none;
  vertical-align: top;
}

.app {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--sky-blue);
  font-family: sans-serif;
}

.taskContainer {
  display: grid;
  place-items: center;
}