:root {
  /*Snow Color Palette*/
  --dark-grey-blue: #2d3656;
  --dark-blue: #0e3472;
  --sky-blue: #7aa5d5;
  --grey-white: #c4cee0;
  --snow-white: #eef2fb;

  --super-fs: clamp(1.5rem, 1.5rem + 2vw, 3rem);
  --primary-fs: clamp(1rem, 1rem + 2vw, 2.2rem);
  --secondary-fs: clamp(1rem, 1rem + 1.5vw, 1.75rem);
  --thirdary-fs: clamp(.5rem, .5rem + 1vw, 1rem);

  --primary-fw: 900;
  --secondary-fw: 700;
  --thirdary-fw: 400;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

textarea, input[type="text"], input[type="date"] {
  margin-left: 1em;
  width: 100%;
  max-width: 150px;
  padding: .25em;
  font-size: .8rem;
  border: none;
  background-color: gainsboro;
  border-radius: .5em;
  font-family: 'Merienda', cursive;
  
}

textarea {
  margin-left: 0;
  resize: none;
  vertical-align: top;
}

.app {
  min-height: 100vh;
  min-height: 100dvh;
  padding-block: 4rem;
  background-color: var(--sky-blue);
  font-family: 'Merienda', cursive;
  position: relative;
  z-index: 1;
}

.app::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("./assets/cloud-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.taskContainer {
  display: grid;
  place-items: center;
}

form {
  text-align: center;
  color: var(--dark-blue);

}

form > * {
  margin-top: 1em;
}

.toDoList {
  text-align: center;
  font-size: var(--super-fs);
  color: var(--dark-blue);
  font-weight: var(--primary-fw);
}

.allTasks, .addTask {
  text-align: center;
  margin-top: 2em;
  font-weight: var(--secondary-fw);
  font-size: var(--secondary-fs);
  color: var(--dark-blue);
}

.submitBtn {
  cursor: pointer;
  font-size: var(--thirdary-fs);
  font-weight: bolder;
  padding: .5em 2em;
  border: none;
  background-color: var(--dark-grey-blue);
  color: var(--snow-white);
  transition: background-color, color .625s ease;
  border-radius: 1em;
}

.submitBtn:is(:focus-visible, :hover) {
  background-color: var(--snow-white);
  box-shadow: inset 0px 0px 0px 2px var(--dark-grey-blue);
  color: var(--dark-grey-blue);
}

.submitBtn:active {
  box-shadow: 0px 0px 0px 2px var(--dark-grey-blue),
  0px 0px 0px 4px var(--sky-blue),
  0px 0px 0px 6px var(--dark-grey-blue);
}