.editTaskBox {
    composes: alertBox from "./AlertBox.module.css"
}

.editTaskBox .head {
    font-size: var(--primary-fs);
}

.editTaskBox form {
    font-size: var(--secondary-fs);
    
    
}

.editTaskBox form .inputField {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: flex-start;
    margin-top: 1em;
    font-size: var(--thirdary-fs);
}

.editTaskBox form input, textarea {
    font-size: var(--thirdary-fs);
}



.container {
    composes: container from "./AlertBox.module.css"
}

.answer {
    composes: answer from "./AlertBox.module.css"
}

.cancel {
    composes: reject from "./AlertBox.module.css"
}